
/*
 * Sidebar
 */

 /* .list-group-item.active */

 .sidebar {
    position: fixed;
    top: 0;
    /* rtl:raw:
    right: 0;
    */
    bottom: 0;
    /* rtl:remove */
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    /* overflow-y: scroll; */
  }
  
  @media (max-width: 767.98px) {
    .sidebar {
      top: 5rem;
    }
  }

  .top-active{
    background-color: rgb(59, 59, 59);
    color: white;
    margin-right: -1px;
  }

  .top-active:hover{
    background-color: rgb(59, 59, 59);
    color: white;
  }

  .sub-link > a{
    width: 100%;
    font-size: 12px;
    text-decoration: none;
  }

  .side-menu{
    width: 100%;

  }

  .sub-link{
    padding-top: 5px;
    padding-left: 2px;
    margin-right: 0px;
    width: 100%
  }

  .sub-link:last-child{
    padding-bottom: 10px
  }